<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8"/>
  <title>멤버 등록하기</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<h1>멤버 등록</h1>
<div class="container">
  <form method="post" action="/members/register" class="mb-4">
    <div class="form-group">
      <label for="memberId">등록할 멤버:</label>
      <input type="text" id="memberId" name="memberId" class="form-control"/>
    </div>
    <input type="hidden" name="projectId" th:value="${projectId}"/>
    <input type="hidden" name="memberRole" th:value="MEMBER"/>
    <button type="submit" class="btn btn-primary">등록</button>
  </form>
</div>
</body>
</html>
