<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8"/>
  <title>멤버 등록하기</title>
</head>
<body>
<h1>멤버 등록</h1>
<form method="post" action="/members/register">
  <div class="form-floating" style="display: flex; width: 50%">
    <span>멤버 ID : </span>
    <input type="text" name="memberId" placeholder="회원 아이디">
  </div>
  <input type="hidden" name="projectId" th:value="${projectId}"/>
  <input type="hidden" name="memberRole" th:value="MEMBER"/>
  <br/>
  <input type="submit" th:value="등록"/>
</form>
</body>
</html>
