<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task - Modify</title>

    <style>
        #container {
            display: flex;
        }

        #left-panel {
            flex: 1;
        }

        #right-panel {
            flex: 1;
        }
    </style>
</head>
<body>
<form method="post" th:action="@{/tasks/{task_id}/modify(task_id=${task.taskId})}">
    <div id="container">
        <div id="left-panel">
            <span>제목 : </span>
            <input type="text" name="taskTitle" th:value="${task.taskTitle}" readonly/>
            <br/>
            <br/>
            <span>내용 : </span>
            <textarea th:name="taskContent" th:text="${task.taskContent}"></textarea>
            <br/>

        </div>
        <div id="right-panel">
            <h2>마일스톤</h2>
            <select name="mileStoneId">
                <option value="">마일스톤 선택</option>
                <option th:each="mileStone : ${mileStones}" th:value="${mileStone.mileStoneId}" th:text="${mileStone.mileStoneStatus}"></option>
            </select>

            <br/>

            <h2>태그</h2>
            <ul>
                <li th:each="tag : ${tags}">
                    <input type="checkbox" name="tagId" th:value="${tag.tagId}" th:text="${tag.tagName}"/>
                </li>
            </ul>

        </div>
    </div>
    <input type="submit" value="등록">
</form>
</body>
</html>